.slider {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-container {
    width: 1800px;
    display: flex;
    position: relative;
    left: 0;
    transition: .4s
}

.slider-item {
    height: 200px;
    min-width: 300px;
    margin-left: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 0
}

.slider-item:nth-child(1) {
    background-image: url('img/1.jpg');
}

.slider-item:nth-child(2) {
    background-image: url('img/2.jpg');
}

.slider-item:nth-child(3) {
    background-image: url('img/3.jpg');
}

.slider-item:nth-child(4) {
    background-image: url('img/4.jpg');
}

.slider-item:nth-child(5) {
    background-image: url('img/5.jpg');
}

.slider-item:nth-child(6) {
    background-image: url('img/6.jpg');
}

.slider-buttons {
    margin-top: 80px;
    text-align: center;
}