* {
    box-sizing: border-box;
}

.slider {
    width: 1000px;
    margin: 0 auto;
}

.slider-container {
    overflow: hidden;
}

.slider-translation {
    display: flex;
    position: relative;
    left: 0px;
    transition: .4s
}

.slider-item {
    height: 200px;
    margin: 0 10px;
    min-width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-item:nth-child(1) {
    background-image: url('img/1.jpg');
}

.slider-item:nth-child(2) {
    background-image: url('img/2.jpg');
}

.slider-item:nth-child(3) {
    background-image: url('img/3.jpg');
}

.slider-item:nth-child(4) {
    background-image: url('img/4.jpg');
}

.slider-item:nth-child(5) {
    background-image: url('img/5.jpg');
}

.slider-item:nth-child(6) {
    background-image: url('img/6.jpg');
}

.slider-buttons {
    margin-top: 80px;
    text-align: center;
}